---
layout: default
---

{% for l in site.data.lectures %}
<div class="row well well-sm">
	<div class="col-md-10">
	  <h3>{{l.title}}: {{l.description}} </h3>
   {% if l.more %}
    <div class="col-md-1"></div>
    <div class="col-md-11">
    <div class="row well well-sm">
      {% for thing in l.more %}
      {% for item in thing %}
        <p>{{thing}}</p>
      {% endfor %}
      {% endfor %}
   </div>
   </div>
    {% endif %}
	</div>
  {% if l.filename %}
	<div class="col-md-2">
		<a href="{{ l.filename }}"><button type="button" 
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
  {% endif %}
</div>
{% endfor %}


